<!doctype html>
<html lang="en">
    <head>
        <title>Squad page</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="keywords" content="">

        <link rel="STYLESHEET" href="/public/styles/style.css" type="text/css">
        
      
    </head>

    <body>

