<%- include('./partials/head') %>


    <h2> Paars </h2>
    <a href="rapunzel.html"><img src="/assets/" alt="rapunzel" width="379" height="268"></a> 


    <h2> Geel </h2>
    
    <a href="belle.html"></a><img src="/assets/belle-disney-princesses-disney-princess-belle-disney-disney-princess-belle-hd-115629143933ce9x9suhi.png" alt="Belle" width="233 " height="330">

    

    <h2> Groen </h2>
    <a href="okemon.html"><img src="/assets/okemon-disney-art-09105-2-disney-princesses-pokemon-crossover-115632429212qk2ephpvl.png" alt="rapunzel" width="212" height="350"></a> 



<%- include('./partials/foot') %>